.video-container {
    width: 28vw;
    height: 46vh;
    overflow: hidden;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 20;
    width: 20%;
    height: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
